body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Aria, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  padding: 0;
}

ul li {
  position: relative;
  list-style-type: none;
  background: #dfdfdf;
  padding: 10px;
  margin-bottom: 10px;
}

ul li .edit {
  display: none;
}

ul li.edit .edit {
  display: initial;
}

ul li.edit .noedit {
  display: none;
}

.remove
{
	position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 22px;
	text-align: center;
    border: 1px solid #CD3344;
	color: #CD3344;
}
}
